<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <p>訊息將傳送:</p>
                <textarea readonly><%= message %></textarea>
            </div>
            <div class="col-md-8 col-xs-12">
                <% if(newstype===1) { %>
                <p>訊息會  <strong>每星期傳送</strong>新消息</p>
                <% } %>
                <% if(newstype===2) { %>
                <p>訊息會 <strong>每星期傳送</strong>新消息</p>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <a class="btn btn-success" href="/broadcast/broadcast-send">Send</a>
                <a class="btn btn-default" href="/broadcast/broadcast">Cancel</a>
            </div>
            <div class="col-md-8 col-xs-12">
                <p>息已傳送 <strong><%= numUsers %></strong> 使用者</p>
                <p>列出所有使用者:</p>
                <ul>
                    <% users.forEach(function(user) { %>
                    <li><%= user.first_name %> <%= user.last_name %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>